:root {
  --header-hight: 48px;
  --header-hight-add: 24px;
}

* {
  transition: font-size 0.3s, height 0.3s, padding-top 0.3s;
  box-sizing: border-box;
}

body {
  background-color: #D4C2B0;
  color: #2B3D4F;
  font-family: "SF Pro JP", "SF Pro Text", "Apple TP", "Myriad Set Pro",
    "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: var(--header-hight);
}

header h1 {
  margin: 0;
  font-size: 1.5em;
  color: #2B3D4F;
}

header ul {
  display: flex;
}

header ul li a {
  display: inline-block;
  margin-left: 1em;
  color: #2B3D4F;
  text-decoration: none;
  font-weight: bold;
  transition: scale 0.2s, text-shadow 0.2s ease;
}

header ul li a:hover {
  text-shadow: 0px 0px 8px white, 0px 0px 16px rgba(0, 0, 0, 0.5);
}

header .nav-button {
  display: none;
  font-size: 2em;
}

/* main */

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
  padding-top: calc(1em + var(--header-hight));
}

main p {
  margin: 1em auto;
}

/* Quote */

blockquote {
  background-color: #2b3d4f40;
  border: 2px solid #2b3d4f1c;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  margin: 1em auto;
}

.quote-box {
  margin: auto 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-box i {
  margin: 0.2em 0;
  margin-bottom: 0.1em;
  margin-right: auto;
  font-size: 2.4em;
  color: #2B3D4F;
}

.quote-box p {
  display: block;
  margin: 0;
  margin-bottom: 1em;
  font-style: italic;
  color: #2B3D4F;
}

.quote-box cite {
  display: block;
  margin: 1em auto;
  margin-top: 0;
  font-size: 0.8em;
  font-style: normal;
  color: #2B3D4F;
}

.quote-box cite a {
  color: #2B3D4F;
  text-decoration: none;
  font-weight: bold;
}

.quote-box cite a:hover {
  color: #D4C2B0;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #fff;
}

footer p {
  margin: 0;
  color: #2B3D4F;
}

footer .social-icons {
  display: flex;
}

footer .social-icons a {
  display: inline-block;
  margin-left: 0.5em;
  color: #2B3D4F;
  text-decoration: none;
  font-size: 1.5em;
}

body>footer>.social-icons>a>i {
  transition: text-shadow 0.2s ease;
}

body>footer>.social-icons>a>i:hover {
  text-shadow: 0px 0px 8px white, 0px 0px 20px rgba(0, 0, 0, 0.5);
}



@media (max-width: 768px) {

  header {
    height: calc(var(--header-hight) + var(--header-hight-add));
  }

  main {
    padding-top: calc(1em + var(--header-hight) + var(--header-hight-add));
  }

  header h1 {
    font-size: 2em;
  }

  header .nav-list {
    display: none;
  }

  header .nav-button {
    display: block;
  }

  footer .social-icons a {
    font-size: 2em;
  }

}
