:root {
  --header-hight: 48px;
  --header-hight-add: 24px;
  --responsive-anim: 0.3s;
}

@media (prefers-reduced-motion) {
  :root {
    --responsive-anim: 0.0s;
  }
}

* {
  transition: font-size var(--responsive-anim), height var(--responsive-anim), padding var(--responsive-anim), padding-top var(--responsive-anim), max-width var(--responsive-anim), width var(--responsive-anim);
  box-sizing: border-box;
}



body {
  background-color: #D4C2B0;
  color: #2B3D4F;
  font-family: "SF Pro JP", "SF Pro Text", "Apple TP", "Myriad Set Pro",
    "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #fff;
  height: var(--header-hight);
}

header h1 {
  margin: 0;
  font-size: 1.5em;
  color: #2B3D4F;
}

header > h1 > i#header-hash-icon {
 transition: none;
 scale: 0.8;
}

header ul {
  display: flex;
}

header ul li a {
  display: inline-block;
  margin-left: 1em;
  color: #2B3D4F;
  text-decoration: none;
  font-weight: bold;
  transition: scale 0.2s, text-shadow 0.2s ease;
}

header ul li a:hover {
  text-shadow: 0px 0px 8px white, 0px 0px 16px rgba(0, 0, 0, 0.5);
}

header .nav-button {
  display: none;
  font-size: 2em;
}

/* Main */

main {
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  padding: 1em 2em;
  padding-top: calc(1em + var(--header-hight));
}

main p {
  margin: 1.5em auto;
}

/* Quote */

.quote-container>blockquote {
  transition: margin-bottom var(--responsive-anim);
}

.quote-container>blockquote {
  display: flex;
  flex-direction: row;
  background-color: #2b3d4f20;
  border: 1.5px solid #2b3d4f1c;
  border-radius: 10px;
  /* box-shadow: 0 0 2px rgba(255, 255, 255, 0.6); */
  margin: 1em auto;
}

.quote-container>blockquote>i {
  margin: 1em;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1em;
  color: #2B3D4F;
}

.quote-content {
  margin: auto 1em;
  align-items: center;
}

.quote-content p {
  display: block;
  margin: 1em 0;
  margin-bottom: 1em;
  font-style: italic;
  color: #2B3D4F;
}

.quote-content cite {
  display: block;
  margin: 1em 0;
  margin-right: auto;
  font-size: small;
  font-style: normal;
  color: #2B3D4F;
}

.quote-content cite a {
  transition: color 0.2s, text-shadow 0.2s;
  color: #2B3D4F;
  text-decoration: none;
  font-weight: bold;
}

.quote-content cite a:hover {
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

@media (max-width: 580px) {
  .quote-container>blockquote {
    flex-direction: column;
  }
  .quote-container>blockquote i{
    margin-bottom: 0;
  }
}

/* aside */

aside {
  background-color: #D4C2B0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 1em;
}

aside h3 {
  margin: 0;
  font-size: 1.2em;
  color: #2B3D4F;
}

aside p {
  margin: 0.5em 0;
  color: #2B3D4F;
}

/* hr */

hr {
  border: 0;
  border-top: 2px dashed #2B3D4F;
}

/* Image */


.image-container {
  margin: 1em 0;
  text-align: center;
}

.image-container img {
  transition: width var(--responsive-anim);
  margin: 0.5em auto;
  width: 80%;
  box-shadow: 0px 10px 40px #2B3D4F60;
}

.image-container p {
  margin: 0.5em 0;
  font-size: small;
  font-style: italic;
  color: #2B3D4F;
}

@media (max-width: 768px) {
  .image-container img{
    width: 90%;
  }
}

@media (max-width: 360px) {
  .image-container img{
    width: 100%;
  }
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #fff;
}

footer p {
  margin: 0;
  color: #2B3D4F;
}

footer .social-icons {
  display: flex;
}

footer .social-icons a {
  display: inline-block;
  margin-left: 0.5em;
  color: #2B3D4F;
  text-decoration: none;
  font-size: 1.5em;
}

body>footer>.social-icons>a>i {
  transition: text-shadow 0.2s ease;
}

body>footer>.social-icons>a>i:hover {
  text-shadow: 0px 0px 8px white, 0px 0px 20px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {

  header {
    height: calc(var(--header-hight) + var(--header-hight-add));
  }

  main {

    max-width: none;
    width: 90%;
    padding-top: calc(1em + var(--header-hight) + var(--header-hight-add));
  }

  header h1 {
    font-size: 2em;
  }

  header .nav-list {
    display: none;
  }

  header .nav-button {
    display: block;
  }

  footer .social-icons a {
    font-size: 2em;
  }

}

@media (max-width: 580px) {

  main {
    width: 100%;
  }

}

@media (max-width: 360px) {
  main {
    width: 100%;
  padding: 1em 1em;
  padding-top: calc(1em + var(--header-hight) + var(--header-hight-add));
  }

  header .nav-list {
    display: none;
  }

  header .nav-button {
    display: none;
  }
}
